@charset "utf-8";

$base-font-size: 13px;

// font size (rem)
$size-huge: 1.538rem; //20px

$size-big: 1.231rem; //16px

$size-major: 1.077rem; //14px

$size-base: 1rem; //13px

$size-minor: 0.923rem; //12px

$size-small: 0.846rem; //11px

$size-tiny: 0.769rem; //10px